# Application specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/*
!/storage/app/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Environment files
.env
.env.backup
.env.production
.env.testing

# Testing & custom
.phpunit.result.cache
.phpunit.cache
/docs

# Development tools & IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
/auth.json
Homestead.json
Homestead.yaml

# System files & logs
*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
desktop.ini

*.csv