@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fonts*/
    --font-lato: 'Lato', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-great-vibes: 'Great Vibes', cursive;

    /* Colors*/
    --color-primary: #D4AF37;
    --color-secondary: #0F172A;
    --color-tertiary: #B8860B;
    --color-neutral: #FDFCF8;
}